
<ul>
  <li>
    <a href="/add-deal">Add more deals!</a>
  </li>
  <li>
    <a href="/shops">View more deals!</a>
  </li>
  <li>
    <a href="/my-deals">Find the best deals for your budget!</a>
  </li>
</ul>
<h2>Top deals</h2>
<div class="top-deals">
{{#each topDeals}}
<div>
<strong>{{qty}} for {{price}} at {{shop_name}}</strong>
<span>That's {{unit_price}} per avocado!</span>
</div>
{{/each}}
</div>
