body {
	background-color: rgb(93, 180, 97);
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	margin: auto;
	width: 80%;
}

.top-deals {
	display: grid;
	row-gap: 1rem;
}

.top-deals div {
	display: grid;
}

img {
 width: 5rem;
 margin: 1rem;
}

ul {
 list-style: '🥑 '
}

.err {
	color: crimson;
	line-height:3;
}