<a href='/shops'><h3>Back to all shops</h3></a>
<h2>Add a new shop</h2>
<form action="/add-shop" method="POST">
<label for="newShop"></label>
<input type="text" name="newShop">
<input type="submit" value="submit">
</form>