<h2>Add a new deal</h2>
<form action="/add-deal" method="POST">
<label for="qty">Quantity:</label>
<input name="qty" type="number" min="0" value="0">
<label for="price">Price:</label>
<input name="price" type="number" step="0.01" value="0.00">
<label for="shop">Shop:</label>
<select name="shop">
  <option value="">select a shop</option>
  {{#each shops}}
  <option value={{id}}>{{name}}</option>
  {{/each}}
</select>
<input type="submit" value="submit">
</form>